body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(30, 54%, 90%);

}



.container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.recipe-container{
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    width: 650px;
    border-radius: 15px;
    padding: 30px;


}

.recipe-image{
    width: 650px;
    height: 250px;

    border-radius: 20px;


}

.preparation, .ingredients, .instructions, .nutrition {
    text-align: left;
    margin: 10px;
}

.preparation h3 {
    color: hsl(332, 51%, 32%);
    margin-left: 15px;
}
.preparation {
    background-color:hsl(330, 100%, 98%);
    align-items: center;
    padding: 15px;
    margin: 40px 10px 40px ;
    border-radius: 10px;
    line-height: 2.0;
}

 h2 {
    font-family: 'Young Serif', serif;
     color: hsl(14, 45%, 36%)
}
 h1{
     font-family: 'Young Serif', serif;
     text-align: left;
     margin-left: 15px;
 }

.ingredients ul li::marker {
    color: hsl(14, 45%, 36%); /* point color */

}

.instructions ol li::marker {
    color: hsl(14, 45%, 36%); /* number color */

}

.nutrition td {
    color:hsl(332, 51%, 32%);
}

.nutrition table {
    border-collapse: collapse; /* Asegura que los bordes se colapsen en una sola línea */
    width: 100%;
}

.nutrition table tr:not(:last-child) {
    border-bottom: 1px solid hsl(30, 10%, 34%); /* Aplica el borde a la fila completa */
}

.nutrition table td, .nutrition table th {
    padding: 10px; /* Ajusta este valor según tus necesidades */
    box-sizing: border-box;
}
.nutrition table td {
    padding-left: 100px;
}

.nutrition table th {
    padding-left: 32px;
}

.nutrition {
    line-height: 2.0;
}

hr {
    color: hsl(30, 54%, 90%);
}
