body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(30, 54%, 90%);
}

.container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.recipe-container{
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    width: 650px;
    border-radius: 15px;
    padding: 30px;

}

.recipe-image{
    width: 650px;
    height: 250px;
    border-radius: 10px;
}

header p {
    color: hsl(30, 10%, 34%);
}

.preparation, .ingredients, .instructions, .nutrition {
    text-align: left;
    margin: 10px;
    color: hsl(30, 10%, 34%);
}

.preparation h3 {
    color: hsl(332, 51%, 32%);
    margin-left: 15px;
}
.preparation {
    background-color:hsl(330, 100%, 98%);
    align-items: center;
    padding: 15px;
    margin: 40px 10px 40px ;
    border-radius: 10px;
}

.preparation ul {
    line-height: 2.0; /* Line spacing */
    list-style-position: outside /* Ensures that the point is outside the container */
}

.preparation ul li {
    padding-left:15px /* Add a space to the left of the period */
}

.preparation ul li::marker {
    color: hsl(332, 51%, 32%) /* point color */
}

 h2 {
    font-family: 'Young Serif', serif;
     color: hsl(14, 45%, 36%);
}

 h1{
     font-family: 'Young Serif', serif;
     text-align: left;
     margin-left: 15px;
 }

.ingredients ul li::marker {
    color: hsl(14, 45%, 36%); /* point color */
}

.ingredients ul {
    line-height: 2.0;
    list-style-position: outside;
}

.ingredients ul li {
    padding-left:15px;
    margin-left: -18px
}

.instructions ol li::marker {
    color: hsl(14, 45%, 36%); /* number color */
}

.instructions ol li {
    margin-bottom: 10px;
    margin-left: -18px;
    padding-left:15px
}

.instructions ol {
    list-style-position: outside;
}

.nutrition td {
    color:hsl(332, 51%, 32%);
}

.nutrition table {
    border-collapse: collapse; /* Ensures that the borders are collapsed into a single line */
    width: 100%;
}

.nutrition table tr:not(:last-child) {
    border-bottom: 1px solid hsl(30, 54%, 90%); /* Apply the border to the entire row */
}

.nutrition table td, .nutrition table th {
    padding: 10px;
    box-sizing: border-box;  /* Ensures that the padding does not affect the cell width */
}
.nutrition table td {
    padding-left: 100px;
}

.nutrition table th {
    padding-left: 32px;
}

.nutrition {
    line-height: 2.0;
}

hr {
    border: none;
    border-top: 1px solid hsl(30, 54%, 90%); /* Apply the desired color and thickness */
    color: transparent; /* Ensures that the default color does not affect the border color */
    background-color: transparent; /* Ensures that the background color does not affect the border color */
}
